In [1]:
print('Trust The Process\nWelcome to Day-16')
print('Now we are entering Intermediate Zone, all will learn some very impressive things')
print('Today we will learn about OOPS')

Trust The Process
Welcome to Day-16
Now we are entering Intermediate Zone, all will learn some very impressive things
Today we will learn about OOPS

In [2]:
print('Uptil what we have done was Procedural Programming')

Uptil what we have done was Procedural Programming

In [3]:
print('Try to model real life object, they have some attributes (variables) and methods (what they can do : function)')

Try to model real life object, they have some attributes (variables) and methods (what they can do : function)

In [4]:
print('For example, Waiter is a Class and Henry and Betty are 2 objects')

For example, Waiter is a Class and Henry and Betty are 2 objects

In [5]:
#carobject1=CarBlueprint()
#Here object = Class()

In [6]:
# from turtle import Turtle, Screen
# #importing turtle and then object = Class()

# timmy=Turtle()
# print(timmy)

# my_screen=Screen()
# print(my_screen)

In [7]:
print('Functions when Tied to an object, are called methods')

Functions when Tied to an object, are called methods

In [9]:
#PyPi Python Package Index
!pip install PrettyTable

Collecting PrettyTable
  Downloading prettytable-3.6.0-py3-none-any.whl (27 kB)
Requirement already satisfied: wcwidth in c:\users\bousid\appdata\local\programs\python\python311\lib\site-packages (from PrettyTable) (0.2.6)
Installing collected packages: PrettyTable
Successfully installed PrettyTable-3.6.0

In [11]:
#Now lets use this package PrettyTable
from prettytable import PrettyTable

#create an object called Sidtable
Sidtable=PrettyTable()
print(Sidtable)

++
||
++
++

In [14]:
#Now lets use this package PrettyTable
from prettytable import PrettyTable

sidtable = PrettyTable()

sidtable.add_column('Employee Name', ['John', 'Doe', 'Jane'])
sidtable.add_column('Employee ID', [101, 102, 103])
sidtable.add_column('Employee Location', ['New York', 'London', 'Paris'])

print(sidtable)

+---------------+-------------+-------------------+
| Employee Name | Employee ID | Employee Location |
+---------------+-------------+-------------------+
|      John     |     101     |      New York     |
|      Doe      |     102     |       London      |
|      Jane     |     103     |       Paris       |
+---------------+-------------+-------------------+

In [15]:
pokemon_table=PrettyTable()

pokemon_table.add_column('Pokemon Name', ['Pikachu', 'Squirtle', 'Charmander'])
pokemon_table.add_column('Type', ['Electric', 'Water', 'Fire'])

print(pokemon_table)

+--------------+----------+
| Pokemon Name |   Type   |
+--------------+----------+
|   Pikachu    | Electric |
|   Squirtle   |  Water   |
|  Charmander  |   Fire   |
+--------------+----------+

In [18]:
pokemon_table.align='l'
print(pokemon_table)

+--------------+----------+
| Pokemon Name | Type     |
+--------------+----------+
| Pikachu      | Electric |
| Squirtle     | Water    |
| Charmander   | Fire     |
+--------------+----------+

In [19]:
print('Make OOP version of the Coffe Machine')

Make OOP version of the Coffe Machine